nav{
    text-align: center;
    background-color:rgb(155, 197, 235);
    padding: 20px 0;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    text-decoration: none;}


    a{
        text-decoration: none;
        color: black;
        font-family: cursive;
    }
    .linkToTitleWebsite{
        text-align: center;
        font-family: cursive;
        font-size: 30px ;
    }
.container {
    width: 50%;
    margin: auto;
    text-align: left;
    display: flex;
}
.text{/* oblique macht den text schräg.*/
    font-style: oblique ;
}
.questionContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}


.question{
    margin-right: 10px;
}
.answer {
    display: inline-block;
    vertical-align: top;
}
.title{
    font-size: 50px;
    font-family: cursive;
    padding: 20px;
}
.answer input[type="radio"] {
    margin-right: 10px;
}

.answer-large textarea {
    width: 100%;
    height: 100px;
}
button {/* Send Button*/
    position: absolute;
    bottom: 200px;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.flexContainer{
    font-family: cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 197, 235);
    border-color: black;
    border-width: 5px;
    border-style: solid;}
    