nav{
    text-align: center;
    background-color:rgb(155, 197, 235);
    padding: 20px 0;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    text-decoration: none;


}
.linktoindex{
    text-decoration: none;
    font-size: 50px;
    font-family: cursive;
}
.links{
    text-decoration: none;
    display:flex;

    justify-content: flex-end;
}
h1{
    text-align: center;
    font-family: cursive;
}
.text{/* oblique macht den text schräg.*/
    font-style: oblique ;
}
h5{
    display: flex;
    justify-content: space-between;

}
.Pizzeria{
    display: flex;
    justify-content: space-around;
}

.pizza{

     
        position: absolute;
        top: 50%;
        left: 16%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: large;
        font-family: cursive;
}

/*when someone hovers over the links with their mouse */
.pizza:hover{
background-color: #ffff50;
}
.salad{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    font-family: cursive;
  
}
.salad:hover{
    background-color: #ffff50;
}
.softdrinks{
    
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    font-family: cursive;
    
}
.softdrinks:hover{
    background-color: #ffff50;
    
}

.flex-container2{

    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-weight: bolder;
    font-size: 40px;
  
}
a{
    text-decoration: none;
    color: black;
    font-family: cursive;
}


.flexContainer{
font-family: cursive;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(155, 197, 235);
    border-color:black;
    border-width: 5px;
    border-style: solid;
}

