nav{
    text-align: center;
    background-color:rgb(155, 197, 235);
    padding: 20px 0;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    text-decoration: none;
}

h2{
    text-align: center;
    font-family: cursive;
    font-size: 100px ;
}

a{
    text-decoration: none;
    color: black;
    font-family: cursive;
}

.linkToIndex{
    text-decoration: none;
    font-size:  2em;
    font-family: cursive;
}

.flexContainer{

    font-family:cursive;
    display: flex;
    justify-content: space-between;
    background-color:rgb(155, 197, 235);
    border-color:black;
    border-width: 5px;
    border-style: solid;
}

#pizzasContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pizzaImg{/* Die Formatierung derPizza Bilder*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    height:300px;
    width: 100%;
}

.pizzaItem{
    width: 350px;
}


.shoppingCart{
    height: 20px;
    width: 20px;
}
.text{/* oblique macht den text schräg.*/
    font-style: oblique ;
}
#cartCounter {
    font-family: cursive;
     position: fixed;
     top: 80px;
     right: 10px;
    font-size: xx-large;
    }

#resetCartCounter {
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 110px;
    right: 45px;
}

#resetCartCounter img {
    width: 30px;
    height: auto;
}