nav{/*NAVigation oben gleich bei allen HTML Seiten*/
    text-align: center;
    background-color:rgb(155, 197, 235);
    padding: 20px 0;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    text-decoration: none;

}
h2{font-family: cursive;
    padding: none;
    text-align: center;
    font-size: 80px;

}
.linktoindex{
    text-decoration: none;
    font-size:  2em;
    font-family: cursive;
    text-decoration-color: black;
}
a{
    text-decoration: none;
    color: black;
    font-family: cursive;
}
.flexContainer{/* Basic Footer bei allen gleich*/
    font-family: cursive;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:rgb(155, 197, 235);
    border-color:black;
    border-width: 5px;
    border-style: solid;
}


.description{
    font-size: 10px;
}
button{
  font-size: 20px;
}

.Imgsalad{
    display: flex;
  justify-content: space-around;
  margin-top: 5px;
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  font-weight: bolder;
  font-size: 40px;
  height: 300px;
  width: 300px;

}


.saladname{
display: flex;
justify-content: space-between;
}

.text{/* oblique macht den text schräg.*/
    font-style: oblique ;
}
.saladImg{
    width: 350px; 
    height: 350px;}

#SaladContainer {
    display: flex;
    justify-content: space-around;
    top: 70px;
font-family: cursive;

}

#cartCounter {
    font-family: cursive;
     position: fixed;
     top: 80px;
     right: 10px;
     font-size: xx-large;
    }
    

#resetCartCounter {
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 110px;
    right: 45px;
}

#resetCartCounter img {
    width: 30px;
    height: auto;
}
