nav{
    text-align: center;
    background-color:rgb(155, 197, 235);
    padding: 20px 0;
    border-color:black;
    border-width: 5px;
    border-style: solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: row wrap;
    text-decoration: none;

}
a{
    text-decoration: none;
    color: black;
    font-family: cursive;
}
.linkToIndex{
    text-decoration: none;
    font-size:  2em;
    font-family: cursive;
}
.text{/* oblique macht den text schräg.*/
    font-style: oblique ;
}
.flexContainer{
    font-family: cursive;
    
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 197, 235);
    border-color: black;
    border-width: 5px;
    border-style: solid;}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 50px;

}

.shoppingCart{
    width: 20px;
    height: 20px;
}

.softdrinksimg {
    width: 300px; 
    height: 300px; }
    

/* Stil für den Container, der den Counter und den Warenkorb enthält */
.softDrinksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#cartCounter {
    font-family: cursive;
    font-size: xx-large;
     position: fixed;
     top: 80px;
     right: 10px;}

#resetCartCounter {
 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 110px;
    right: 45px;
}

#resetCartCounter img {
    width: 30px;
    height: auto;
}