img{
border-color: black;
border-radius: 8px;
max-width: 300px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: aqua;
}
a{
background-color: aquamarine;
}


@media  (max-width: 1000px){
    body {
    font: size 1,2em;
    text-align: center;
}

    .name{
        
        position: fixed;
        border: 2px solid gray;
    } 
    a{
        text-decoration: none;
        color: brown;
        
    }   
    a:hover{
        color: gray;
    }
}
@media print {
    .noprint{
        display: none;
    }
    }

